@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../../public/background.png');
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #20477D;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #D3DAE5;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #20477D;
}

@layer components {
  .bg-yellow {
      background-color: theme('colors[yellow]');
  }
  .bg-blue {
    background-color: theme('colors[blue]');
  }
  .bg-green {
    background-color: theme('colors[green]');
  }
  .btn-round-medium{
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .btn-round-small{
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}